= simple_form_for payment do |f|
  = f.association :student, value_method: :id, prompt: 'Select student', :label_method => lambda { |student| "#{student.decorate.full_name}" }
  = f.input :amount
  = f.input :date, as: :string, input_html: {type: :date}
  = f.input :description
  = link_to t('shared.back'), students_path, class: 'btn btn-default'
  = f.button :submit
