- breadcrumb :payments, payment
= link_to t('shared.add_new_payment'), new_payment_path, class: 'btn btn-default'
%table.table.table-condensed#payments
  %thead
    %tr
      %th= t('payment.columns.first_name')
      %th= t('payment.columns.last_name')
      %th= t('payment.columns.amount')
      %th= t('payment.columns.description')
      %th= t('payment.columns.date')
      %th= t('shared.actions')
  %tbody
    = render payments
